@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
.container {
  height: 100vh;
  background-color: #2b2b2b;
  position: relative;
  overflow: hidden;
}
.rocket {
  position: absolute;
  min-height: 70vh;
  overflow: hidden;
}
.rocketParts {
  width: 40%;
}
.nightSky {
  position: absolute;
  height: 100vh;
  object-position: center;
  z-index: -1;
}
.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 400px;
  color: #aaa;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  min-height: fit-content;
}
.frame .textWrapper {
  font-size: 20px;
  margin-bottom: 10px;
}
.frame .basicEnablement {
  font-size: 14px;
}
.part {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: fit-content; */
}
.headers {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  min-height: fit-content;
}
.headerText {
  text-align: center;
  min-height: 87px;
  top: 0;
  left: 0;
  text-shadow: 0px 1px 0px #00000012;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Plus Jakarta Sans-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 86.4px;
  white-space: nowrap;
}