.Footer {
  width: 100%;
  height: 350px;

  display: flex;
  align-items: end;
  padding-top: 50px;
}
.contentWrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  gap: 10px;
}
.earth {
  max-width: 300px;
  width: 40%;
  height: 100%;
}

.Footer .earth img {
  width: 100%;
  object-fit: contain;
}

.Footer > small {
  width: 100%;
  text-align: center;
  color: #a3a3a3;
}

.Footer .contentMainSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 5% 0px 5%;
}
.footerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerMain > h2 {
  font-size: 3rem;
}
.footerMain > p {
  font-size: 18px;
  color: #aaaaaa;
  width: 300px;
}

.logoList {
  display: flex;
  gap: 2rem;

  margin-top: 40px;
}
.footerLinksSet {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 400px;
}

.linkList {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

.linkList li,
.linkList a {
  text-decoration: none;
  list-style: none;
  color: #aaaaaa;
}
